<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/Operation.png" alt="">
  </div>
  <div class="headings">
    <h2>A4Hackathon team presenting</h2>
    <h3>Some operation</h3>
    <a href="/Operation" class="btn">View Operation</a>
  </div>
</header>


<%- include('partials/footer'); -%>